<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style/main.css" />
    <link rel="stylesheet" href="~/css/style/cart.css" />
</head>
<body>
    <section class="container">
        <div class="pre-table">
            <div class="table">
                <table>
                    <tr>
                        <th>Товар</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th class="border-right__none">Итого</th>
                        <th class="border-left__none"></th>
                    </tr>
                    <tr>
                        <td class="img"><img src="~/assets/img/Agat.jpg" alt="item"><span>Агат</span></td>
                        <td>1500 руб.</td>
                        <td>
                            <input type="number" min="1" value="1">
                        </td>
                        <td class="border-right__none">1500 руб.</td>
                        <td class="border-left__none">
                            <button class="remove"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="img"><img src="~/assets/img/Ametist.jpg" alt="item"><span>Аметист</span></td>
                        <td>1500 руб.</td>
                        <td>
                            <input type="number" min="1" value="1">
                        </td>
                        <td class="border-right__none">1500 руб.</td>
                        <td class="border-left__none">
                            <button class="remove"></button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="button">
                <button class="go-shop">
                    Продолжить покупки
                </button>
                <div class="right-content">
                    <div class="cent">
                        Итого:
                        <span id="cent">2500</span>
                         руб.
                    </div>
                    <button class="cent">
                        Купить
                    </button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>