<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/const/main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <nav class="head">
                <a class="logo" asp-controller="Home" asp-action="Index"><img src="~/assets/logo/mineral.png" alt="logo"></a>
                <h2>Rare minerals</h2>
                <form action="#" class="search">
                    <input type="text" placeholder="Найти">
                    <button class="btn" type="submit"><img src="~/assets/icon/search.png" alt="search"></button>
                </form>
                <a class="link link-custom" asp-controller="Home" asp-action="Favorites"><img src="~/assets/icon/like.png" alt="like"></a>
                <a class="link link-custom" asp-controller="Home" asp-action="Cart"><img src="~/assets/icon/cart.png" alt="recycle"></a>
                <partial name="_LoginPartial"/>
            </nav>
            <nav class="navigate">
                <a class="link" asp-controller="Home" asp-action="Katalog">Каталог</a>
                <a class="link" asp-controller="Home" asp-action="Articles">Статьи</a>
                <a class="link">Скидки</a>
                <a class="link" asp-controller="Home" asp-action="AboutUs">О нас</a>
            </nav>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <span>© 2025 Коллекционные минералы. Все права защищены.</span><a class="link" asp-controller="Home" asp-action="Privacy">Политика конфиденциальности</a>
        </div>
    </footer>
    <script src="~/js/controllerPost/content-signIn.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
