@import url(colors.css);

* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
  border: 2px solid black;
} */

html, body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--font-color);
  align-items: center;
  background: var(--main-bg);
  font-size: 20px;
}

.container {
  display: flex;
  width: 1440px;
  height: auto;
  align-items: center;
}

h2, h3, h4 {
  font-size: 26px;
  font-weight: 700;
  color: var(--font-color);
}

/* LINK */

.link {
  color: var(--font-color);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  background: none;
  scale: 1;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;

  &:hover {
    background: #00000050;
    scale: 1.05;
  }

  &:active {
    scale: 0.95;
  }
}

.btn {
  color: var(--font-color);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  background: var(--btn-bg);
  scale: 1;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    scale: 1.05;
  }

  &:active {
    scale: 0.95;
    background: var(--btn-active);
  }
}

/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: var(--interface-bg);

  & .container {
    flex-direction: column;

    & nav.head {
      padding: 10px;
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;

      & a.logo {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          scale: 1.05;
        }

        &:active {
          scale: 0.95;
        }
      }

      & a.logo img {
        width: 52px;
        height: 52px;
      }

      & h2 {
        font-size: 24px;
      }

      & .search {
        display: flex;
        width: fit-content;
        align-items: center;
        gap: 15px;

        & input {
          padding: 5px 10px;
          border-radius: 10px;
          width: 300px;
        }

        & button {
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;

          & img {
            width: 20px;
            height: 20px;
          }
        }
      }

      & a.link-custom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;

        &:hover {
          background: none;
        }
      }

      & a.link-custom img {
        width: 24px;
        height: 24px;
      }
    }

    & nav.navigate {
      flex-wrap: wrap;
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 5px;
      background: var(--bg-card);
    }
  }
}

/* Main */

main {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background: var(--main-bg);
}

/* Footer */

footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--interface-bg);
  padding: 10px;

  & .container {
    flex-direction: row!important;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}

