<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style/about.css">
    <link rel="stylesheet" href="~/css/style/main.css">
    <title>О нас</title>
</head>
    <body>
        <h1>Rare Minerals – интернет-магазин коллекционных минералов и камней.</h1>
    <main>
        <section class="about">
            <h2>О нас</h2>
            <p>Добро пожаловать в наш магазин, где вы найдете уникальные коллекционные минералы и камни со всего мира. Мы стремимся предоставить нашим клиентам только самые лучшие и редкие экземпляры.</p>
            <p>Наша команда состоит из опытных геологов и коллекционеров, которые тщательно отбирают каждую единицу товара. Мы гордимся тем, что можем предложить вам не только красивые, но и качественные минералы, которые станут настоящей находкой для любого коллекционера.</p>
            <p>Мы верим, что каждый камень имеет свою историю, и наша цель - помочь вам найти тот самый минерал, который будет вдохновлять вас каждый день.</p>
        </section>

        <section class="mission">
            <h2>Наша миссия</h2>
            <p>Мы стремимся сделать коллекционирование доступным для всех. Наша миссия - это не только продажа минералов, но и образование наших клиентов о их происхождении, свойствах и значении.</p>
        </section>

        <section class="contact">
            <h2>Свяжитесь с нами</h2>
            <p>Если у вас есть вопросы или предложения, не стесняйтесь обращаться к нам по электронной почте: <a href="mailto:info@mineralshop.com">info@mineralshop.com</a> или по номеру телефона: +7 (777) 505 66 32. Также на сайте всегда работает поддержка, в которую вы можете обратиться по любому вопросу!</p>
        </section>
    </main>
    </body>
</html>