<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style/articles.css">
</head>
<body>
    <section class="container">
        <aside class="content">
            <aside class="bar">
                <a class="link" id="agat">Агат</a>
                <a class="link" id="aqua">Аквамарин</a>
                <a class="link" id="ametist">Аметист</a>
                <a class="link" id="emerald">Изумруд</a>
                <a class="link" id="quarzz">Кварц</a>
                <a class="link" id="lasur">Лазурит</a>
                <a class="link" id="lune">Лунный камень</a>
                <a class="link" id="obsidian">Обсидиан</a>
                <a class="link" id="rubin">Рубин</a>
                <a class="link" id="saphire">Сапфир</a>
                <a class="link" id="fluorit">Флюорит</a>
                <a class="link" id="yashma">Яшма</a>
            </aside>
            <aside class="button">
                <button class="agat">Агат</button>
                <button class="aqua">Аквамарин</button>
                <button class="ametist">Аметист</button>
                <button class="emerald">Изумруд</button>
                <button class="quarzz">Кварц</button>
                <button class="lasur">Лазурит</button>
                <button class="lune">Лунный камень</button>
                <button class="obsidian">Обсидиан</button>
                <button class="rubin">Рубин</button>
                <button class="saphire">Сапфир</button>
                <button class="fluorit">Флюорит</button>
                <button class="yashma">Яшма</button>
            </aside>
        </aside>
        <article class="frame">
            <iframe src="https://ru.wikipedia.org/wiki/Агат" class="agat"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Аквамарин" class="aqua"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Аметист" class="ametist"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Изумруд" class="emerald"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Кварц" class="quarzz"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Лазурит" class="lasur"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Лунный_камень" class="lune"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Обсидиан" class="obsidian"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Рубин" class="rubin"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Сапфир" class="saphire"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Флюорит" class="fluorit"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Яшма" class="yashma"></iframe>
        </article>
    </section>
    <script src="~/js/articles/incrementArticles.js" defer></script>
</body>
</html>