<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style/articles.css">
</head>
<body>
    <section class="container">
        <aside class="content">
            <aside class="bar">
                <a class="link" id="agat">Агат</a>
                <a class="link" id="ametist">Аметист</a>
                <a class="link" id="lasur">Лазурит</a>
            </aside>
            <aside class="button">
                <button class="agat" asp-controller="" asp-action="">Агат</button>
                <button class="ametist">Аметист</button>
                <button class="lasur">Лазурит</button>
            </aside>
        </aside>
        <article class="frame">
            <iframe src="https://ru.wikipedia.org/wiki/Агат" class="agat"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Аметист" class="ametist"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Лазурит" class="lasur"></iframe>
        </article>
    </section>
    <script src="~/js/articles/incrementArticles.js"></script>
</body>
</html>