<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style/articles.css">
</head>
<body>
    <section class="container">
        <aside class="content">
            <aside class="bar">
                <a class="agat">Агат</a>
                <a class="aqua">Аквамарин</a>
                <a class="link ametist">Аметист</a>
                <a class="link emerald">Изумруд</a>
                <a class="link quarzz">Кварц</a>
                <a class="link lasur">Лазурит</a>
                <a class="link lune">Лунный камень</a>
                <a class="link obsidian">Обсидиан</a>
                <a class="link rubin">Рубин</a>
                <a class="link saphire">Сапфир</a>
                <a class="link fluorit">Флюорит</a>
                <a class="link yashma">Яшма</a>
            </aside>
            <aside class="button">
                <button class="agat" asp-controller="" asp-action="">Агат</button>
                <button class="aqua" asp-controller="" asp-action="">Аквамарин</button>
                <button class="ametist" asp-controller="" asp-action="">Аметист</button>
                <button class="emerald" asp-controller="" asp-action="">Изумруд</button>
                <button class="quarz" asp-controller="" asp-action="">Кварц</button>
                <button class="lasur" asp-controller="" asp-action="">Лазурит</button>
                <button class="lune" asp-controller="" asp-action="">Лунный камень</button>
				<button class="obsidian" asp-controller="" asp-action="">Обсидиан</button>
                <button class="rubin" asp-controller="" asp-action="">Рубин</button>
                <button class="saphire" asp-controller="" asp-action="">Сапфир</button>
                <button class="fluorit" asp-controller="" asp-action="">Флюорит</button>
                <button class="yashma" asp-controller="" asp-action="">Яшма</button>
            </aside>
        </aside>
        <article class="frame">
            <iframe src="https://ru.wikipedia.org/wiki/Агат" class="agat"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Аквамарин" class="aqua"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Аметист" class="ametist"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Изумруд" class="emerald"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Кварц" class="quarz"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Лазурит" class="lasur"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Лунный_камень" class="lune"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Обсидиан" class="obsidian"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Рубин" class="rubin"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Сапфир" class="saphire"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Флюорит" class="fluorit"></iframe>
            <iframe src="https://ru.wikipedia.org/wiki/Яшма" class="yashma"></iframe>
        </article>
    </section>
    <script src="~/js/articles/incrementArticles.js" defer></script>
</body>
</html>