<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style/index.css"/>
    <link rel="stylesheet" href="~/css/animation/slideBar.css">
</head>
<body>
<div class="container">
    <section class="head">
        <h2>Коллекционные минералы</h2>
        <span>Ваш лучший источник уникальных минералов использования камней</span>
    </section>
    <section class="slidebar">
           <button id="prev" class="btn"><</button>
            <div class="slider">
                <div class="slide active"><img src="~/assets/img/slide1.jpg"></div>
                <div class="slide"><img src="~/assets/img/slide2.jpg"></div>
                <div class="slide"><img src="~/assets/img/slide3.jpg"></div>
                <div class="slide"><img src="~/assets/img/slide4.jpg"></div>
            </div>
            <button id="next" class="btn">></button>
    </section>

    <section class="ourShop">
        <h1>Rare Mineral</h1>
            <span>Магазин «Rare Mineral» находится в Пензе и специализируется на продаже натуральных камней и минералов, а также всего необходимого для создания украшений. Мы доставляем заказы в любой город России. У нас вы найдете широкий ассортимент природных камней с подробным описанием и фото.</span>
    </section>
		<div class="line"></div>
        <h2 class="popular">Популярные товары</h2>
    <section class="minerals">
        <div class="card">
			<h2>Аметист</h2>
            <img src="~/assets/img/Ametist.jpg" alt="ametist">
                <article>Фиолетовый кристалл, считающийся символом спокойствия.</article>
            <span>Цена: 1500 руб.</span>
        </div>

        <div class="card">
            <h2>Сапфир</h2>
            <img src="~/assets/img/Sapphire.jpg" alt="sapphire">
                <article>Синий драгоценный камень, который символизирует верность и мудрость.</article>
            <span>Цена: 3000 руб.</span>
        </div>

        <div class="card">
            <h2>Рубин</h2>
            <img src="~/assets/img/Rybin.jpg" alt="rubine">
                <article>Красный драгоценный камень, символизирующий любовь и страсть.</article>
            <span>Цена: 2500 руб.</span>
        </div>

        <div class="card">
            <h2>Изумруд</h2>
            <img src="~/assets/img/Emerald.jpg" alt="emerald">
                <article>Зелёный драгоценный камень, символизирующий надежду.</article>
            <span>Цена: 4000 руб.</span>
        </div>

        <div class="card">
            <h2>Аквамарин</h2>
            <img src="~/assets/img/Aqua.jpg" alt="aquamarine">
                <article>Камень цвета воды, символизирует искреннюю любовь и дружбу.</article>
            <span>Цена: 5000 руб.</span>
        </div>
    </section>

    <section class="forWhat">
        <h2>Для чего коллекционируют минералов</h2>
            <span>Самоцветы - не дешевое удовольствие. В зависимости от разновидности, формы, цвета и других характеристик стоимость конкретного камня может составлять десятки и даже сотни тысяч рублей. Существует множество причин, по которым люди заказывают минералы и изделия из них, в том числе:</span>
                <ul>
                    <li>для пополнения личной, музейной или выставочной коллекции;</li>
                    <li>в качестве защитных оберегов и талисманов, приносящих удачу в делах;</li>
                    <li>как подарок коллеге, деловому партнеру или близкому человеку;</li>
                    <li>в качестве декоративного элемента для украшения интерьера, учебного пособия и т. д.</li>
                </ul>
                <span>Независимо от цели, с которой вы намерены купить камни в Пензе в интернет-магазине Rare Mineral,
                можете быть уверены - в вашем распоряжении камни высшего качества, поставляемые нашими партнерами со
                всего мира.</span>
    </section>

    <section class="recommendations">
    <h2>Рекомендации по уходу за минералами и камнями</h2>
        <span>Уход за минералами и камнями является важным аспектом для сохранения их красоты и целебных свойств. Правильное обращение с ними поможет продлить их срок службы и сохранить их уникальные характеристики. Ниже представлены рекомендации по уходу за минералами и камнями:</span>
        <ul>
            <li>храните минералы в сухом и прохладном месте, вдали от прямых солнечных лучей;</li>
            <li>используйте ткани или специальные коробки для предотвращения царапин и повреждений;</li>
            <li>чистите минералы мягкой тканью или щеткой, смоченной в воде;</li>
            <li>избегайте использования агрессивных химикатов или абразивных чистящих средств;</li>
            <li>уберите минералы подальше от источников тепла и влаги;</li>
            <li>при обнаружении повреждений обратитесь к специалисту для реставрации;</li>
        </ul>
        <span>Соблюдение этих рекомендаций поможет сохранить красоту ваших минералов и камней на долгое время.</span>
    </section>

    <section class="refund">
    <h2>Наш интернет-магазин минералов и камней предлагает следующие условия гарантии и возврата:</h2>
        <ol>
            <li>Срок гарантии:
                <ul>
                    <li>на все минералы и камни предоставляется гарантия в течение 30 дней с момента покупки.</li>
                </ul>
            </li>
            <li>Условия возврата:
                 <ul>
                    <li>возврат товаров возможен в случае, если они были приобретены не позднее 30 дней назад;</li>
                    <li>товар должен быть в своем оригинальном состоянии, без повреждений и следов использования.</li>
                </ul>
            </li>
            <li>Процедура возврата:
                <ul>
                    <li>для возврата товара необходимо связаться с нашей службой поддержки по указанным на сайте контактам;</li>
                    <li>укажите номер заказа и причину возврата.</li>
                </ul>
            </li>
            <li>Возврат денег:
                <ul>
                    <li>Возврат денег осуществляется в течение 7-14 рабочих дней после получения возврата и проверки состояния товара.</li>
                </ul>
            </li>
            <li>Исключения:
                <ul>
                    <li>Не подлежат возврату товары, которые были повреждены по вине покупателя, а также изделия, вырезанные или измененные по индивидуальному запросу.</li>
                </ul>
            </li>
        </ol>
    </section>

    <script src="~/js/indexJs/slidebar.js"></script>
</div>
</body>
</html>