<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style/index.css" />
    <link rel="stylesheet" href="~/css/animation/slideBar.css">
</head>
<body>
    <section class="item">
    <div class="content sec-1">
        <div class="arrow"><span>↑</span></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="arrow"><span>↓</span></div>
    </div>
    <div class="content sec-2">
        <h2>
            Название товара
        </h2>
        <span>
            Рейтинг: ☆☆☆☆☆
        </span>
        <div class="block"></div>
    </div>
    <div class="content sec-3">
        <div class="sent">
            <span class="cent">
                200$
            </span>
            <span class="real-cent">
                250$
            </span>
        </div>
        <h2>Выбрать цвет</h2>
        <div class="block-group">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
        </div>
        <div class="button-group">
            <button class="recycle">Добавить в корзину</button>
            <button class="like"><img src="./image/heart.png" alt="like" class="heart"></button>
        </div>
        <a href="" class="description">
            Посмотреть отзывы
        </a>
    </div>
</section>
</div>
</body>
</html>