.slidebar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: auto;
  gap: 10px;

  & button {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
  }
}

.slider {
  position: relative;
  max-width: 900px;
  max-height: 400px;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  font-size: 20px;
  opacity: 0;
  border-radius: 10px;
  transition: opacity 1s ease;

  & img {
    width: 900px;
    height: 400px;
    border-radius: 10px;
  }
}

.slide.active {
  opacity: 1;
  z-index: 1;
}